pyyaml==5.4.1
plotly==4.14.3
flake8==3.9.0
hyperstyle==1.2.3

requests==2.25.1
dacite==1.6.0
setuptools==56.0.0
serde==0.8.1
pip==21.3.1
argparse==1.4.0
configparser==5.0.2
py==1.10.0
tornado==6.1
Serialize==0.1
future==0.18.2
pandas==1.2.3
numpy==1.21.2
openpyxl==3.0.7
torch==1.8.1
scikit-learn==0.24.2
transformers==4.6.1
pandarallel==1.5.2
pytest==6.2.3
beautifulsoup4==4.10.0

pingouin==0.5.0
statsmodels~=0.13.1
seaborn~=0.11.2
matplotlib~=3.5.1
networkx==2.6.3