name: Python build

on: [ push, pull_request ]

jobs:

  build:
    runs-on: ubuntu-latest
    # Consistent with base image in Dockerfile
    container: nastyabirillo/hyperstyle:1.2.1
    steps:
      - name: Install git
        run: |
          apt-get update
          apt-get -y install git

      - name: Check env variables
        run: |
            echo $DETEKT_DIRECTORY && echo $DETEKT_VERSION
            echo $CHECKSTYLE_DIRECTORY && echo $CHECKSTYLE_VERSION
            echo $PMD_DIRECTORY && echo $PMD_VERSION
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install requirements
        run: |
          pip install --no-cache-dir -r requirements-test.txt -r requirements.txt -r requirements-roberta.txt

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=.git,__pycache__,docs/source/conf.py,old,build,dist,venv,analysis/test/resources,.eggs,review.egg-info,.pytest_cache,node_modules
          # TODO: change max-complexity into 10 after refactoring
          # TODO: remove R504, A003, E800, E402, WPS1, WPS2, WPS3, WPS4, WPS5, WPS6, H601, N400
          flake8 . --count --max-complexity=11 --max-line-length=120 --max-doc-length=120 --ignore=E126,R504,A003,E800,E402,W503,WPS1,WPS2,WPS3,WPS4,WPS5,WPS6,H601,I100,N400,I202 --statistics --exclude=.git,__pycache__,docs/source/conf.py,old,build,dist,venv,analysis/test/resources,.eggs,review.egg-info,.pytest_cache,node_modules
      - name: Sort whitelists
        run: |
          for file in "whitelist.txt"
          do
            LC_ALL=C sort $file -o $file
          done

      - name: Commit sorted whitelists
        uses: EndBug/add-and-commit@v7.2.1
        with:
          add: "['whitelist.txt']"
          message: 'Sort whitelists (Github Actions)'

      - name: Test with pytest
        run: |
          pytest